* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
    background-color: rgb(219, 219, 233);
    font-family: sans-serif;
}

.container {
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 130, 150, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 6px 3px;
    /* transition: transform .3s; */

}

/* .container:hover{
    transform: translateY(7px) translateX(3px);
    box-shadow: 2px 2px 6px 0;

} */
#value {
    font-size: 3rem;
    font-weight: bold;

}

.count {
    font-size: 3rem;

}

.btn {
    width: 70px;
    margin-top: 1rem;
    padding: 5px;
    margin-left: 3px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background-color: rgb(148, 34, 142);
    color: white;
    opacity: 0.8;

}

