* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
.servis {
  color: #a9508b;
}
.navbar {
  background-color: #35424a;
  color: #ffffff;
  border-bottom: 3px solid #a9508b;
  padding: 30px 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar__left {
  margin-left: 10px;
}
.navbar__right li {
  /* float: right; */
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  font-weight: bolder;
}
li a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 40px 0;
  /* float: right; */
  display: inline-block;
}
span {
  color: #a9508b;
}
.subs {
  background-color: #35424a;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px;
  align-items: center;
}
.subs h3 {
  font-size: 1.5rem;
  /* line-height: ; */
  color: #ffffff;
  margin-right: auto;
}
#email {
  font-size: 14px;
  line-height: 25px;
  padding: 4px;
  width: 250px;
  margin-right: 00.5em;
}
#submit {
  font-size: 14px;
  line-height: 25px;
  padding: 6px 20px;
  background-color: #e44d27;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#submit:hover {
  background-color: silver;
}
main {
  display: flex;
  justify-content: space-between;
}
.services {
  margin-top: 1em;
}

.info {
  margin-left: 30px;
}
.info1 {
  background-color: #e6e6e6;
  padding: 15px;
  margin-top: 20px;
  width: 90%;
}

.info2 {
  background-color: #e6e6e6;
  margin-top: 10px;
  padding: 15px;
  width: 90%;
}
.info3 {
  background-color: #e6e6e6;
  margin-top: 10px;
  padding: 15px;
  width: 90%;
}
.form {
  background-color: #35424a;
  margin-top: 20px;
  margin-right: 50px;
  color: #ffffff;
  border: #35424a;
  padding: 20px;
}
.textarea {
  resize: none;
}

.button1 {
  width: 70px;
  height: 38px;
  background-color: #e44d27;
  color: #ffffff;
  border: 2px solid #35424a;
  cursor: pointer;
}
.button1:hover {
  background-color: silver;
}

form input,
textarea {
  border: 2px inset #767676;
  padding: 5px;
  font-size: 13px;
  width: 100%;
}

footer {
  background-color: #35424a;
  position: absolute;
  bottom: 0;

  width: 100vw;
  text-align: center;
}
